grouperClient.ldap.url = {{ grouper_loader_url }}

# kerberos principal used to connect to ldap
grouperClient.ldap.login =

# password for shared secret authentication to ldap
# or you can put a filename with an encrypted password
grouperClient.ldap.password =

########################################
## Web service Connection settings
########################################

# url of web service, should include everything up to the first resource to access
grouperClient.webService.url = {{ grouper_ws_url }}

# kerberos principal used to connect to web service
grouperClient.webService.login = {{ grouper_connection_user }}

# password for shared secret authentication to web service
# or you can put a filename with an encrypted password
grouperClient.webService.password = {{ grouper_connection_pass }}
