mirrors:
  docker.io:
  registry.k8s.io:
  {{ _k3s_registry_mirror }}:
    endpoint:
      - "{{ _k3s_registry_mirror_endpoint }}"

configs:
  {{ _k3s_registry_mirror }}:
    auth:
      token: "{{ _k3s_registry_mirror_token }}"
    tls:
      insecure_skip_verify: {{ _k3s_registry_mirror_insecure_skip_verify | bool }}
  