# Adapted from https://github.com/k3s-io/k3s/issues/2068#issuecomment-1374672584

MNT_DIR="{{ k3s_storage_mount }}"

# nodefs
#
KUBELET_DIR="${MNT_DIR}/kubelet"
mkdir -p "${KUBELET_DIR}"

# imagefs: containerd has a root and state directory
#
# - https://github.com/containerd/containerd/blob/main/docs/ops.md#base-configuration
#
# containerd root -> /var/lib/rancher/k3s/agent/containerd
#
CONTAINERD_ROOT_DIR_OLD="/var/lib/rancher/k3s/agent"
CONTAINERD_ROOT_DIR_NEW="${MNT_DIR}/containerd-root/containerd"
mkdir -p "${CONTAINERD_ROOT_DIR_OLD}"
mkdir -p "${CONTAINERD_ROOT_DIR_NEW}"
ln -s "${CONTAINERD_ROOT_DIR_NEW}" "${CONTAINERD_ROOT_DIR_OLD}"

# containerd state -> /run/k3s/containerd
#
CONTAINERD_STATE_DIR_OLD="/run/k3s"
CONTAINERD_STATE_DIR_NEW="${MNT_DIR}/containerd-state/containerd"
mkdir -p "${CONTAINERD_STATE_DIR_OLD}"
mkdir -p "${CONTAINERD_STATE_DIR_NEW}"
ln -s "${CONTAINERD_STATE_DIR_NEW}" "${CONTAINERD_STATE_DIR_OLD}"

# pvs -> /var/lib/rancher/k3s/storage
#
PV_DIR_OLD="/var/lib/rancher/k3s"
PV_DIR_NEW="${MNT_DIR}/local-path-provisioner/storage"
mkdir -p "${PV_DIR_OLD}"
mkdir -p "${PV_DIR_NEW}"
ln -s "${PV_DIR_NEW}" "${PV_DIR_OLD}"