---
- environment:
    SSH_KNOWN_HOSTS: /dev/null
  delegate_to: localhost
  become: false
  block:
    - ansible.builtin.set_fact:
        yaml_path: "{{ [inventory_dir | dirname, 'k0sctl.yaml'] | path_join }}"

    - debug:
        msg: "path  to k0sctl.yaml: {{ yaml_path }}"

    - name: write out kubeconfig
      ansible.builtin.shell:
        cmd: "k0sctl kubeconfig --config {{ yaml_path }} > ./{{ns}}.kubeconfig"
        creates: "./{{ns}}.kubeconfig"
