global
    log         127.0.0.1 local2

    pidfile     /var/run/haproxy.pid
    maxconn     4000

    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-CHACHA20-POLY1305
    #ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options prefer-client-ciphers no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets

    ssl-default-server-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-CHACHA20-POLY1305
    #ssl-default-server-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-server-options no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets

    # curl https://ssl-config.mozilla.org/ffdhe2048.txt > /etc/ssl/dhparam
    ssl-dh-param-file /etc/ssl/dhparam

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout tunnel          86400s
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

frontend http2-ssl
    bind *:443 ssl crt /etc/ssl/cyverse.combined alpn h2,http/1.1
    redirect scheme https code 301 if !{ ssl_fc }

    acl harbor hdr(host) -i {{ harbor_external_domain }}
    {% if use_concourse %}
    acl concourse hdr(host) -i {{ concourse_external_domain }}
    {% endif %}
    acl de hdr(host) -i {{ de_hostname }}

    # HSTS (63072000 seconds)
    http-response set-header Strict-Transport-Security max-age=63072000

    {% if use_concourse %}
    use_backend concourse if concourse
    {% endif %}
    use_backend discoenv if de
    use_backend harbor if harbor
    default_backend discoenv

{% if use_concourse %}
backend concourse
    option log-health-checks
    option forwardfor

    http-request add-header X-Forwarded-Proto https

    balance roundrobin
    {% for svr in groups['concourse_web'] %}
    server {{ svr }} {{ svr }}:8383 ssl verify none check inter 5000
    {% endfor %}
{% endif %}

backend discoenv
    option log-health-checks
    option forwardfor

    http-request add-header X-Forwarded-Proto https

    balance roundrobin
    {% for svr in groups['k3s_de_workers'] %}
    server {{ svr }} {{ svr }}:443 ssl verify none check inter 5000
    {% endfor %}

backend harbor
    option log-health-checks
    option forwardfor

    http-request add-header X-Forwarded-Proto https

    balance roundrobin
    {% for svr in groups['k3s_de_workers'] %}
    server {{ svr }} {{ svr }}:{{ harbor_nodeport }} check inter 5000
    {% endfor %}
