---
k8s_version: "1.30"
calico_version: "3.29.0"
helm_version: "3.16.2"

# Common Variables
## Path to the Python interpreter on the managed nodes. Actually an Ansible configuration variable.
ansible_python_interpreter: /usr/bin/python3

## The path to the directory where tools will be installed.
install_dir: /usr/local/bin # no trailing slash

## The FQDN that the DE is accessible through.
de_hostname: de.cyverse.org

## The wildcard FQDN that the UI needs (yeah, I dunno)
ui_wildcard_fqdn: "*.cyverse.org"

## The wildcard FQDN that VICE apps are accessible through.
vice_wildcard_fqdn: "*.cyverse.run"

## The base domain that VICE domains are accessible through.
vice_base_domain: cyverse.run

## The iRODS UID domain.
uid_domain: iplantcollaborative.org

## The timezone the services are installed in.
timezone: America/Phoenix

## The URL to the de-releases repo. Contains the information about a stable DE release.
de_releases_repo: https://github.com/cyverse-de/de-releases

## The relative path to check out the de-releases repo to.
de_releases_dir: "./de-releases"

## The branch/rev of the de-releases repo to use.
de_releases_version: main

## The relative path to the directory the service config files will be rendered in.
rendered_configs_dir: "./rendered-configs"

## The SHA25 of the exim sender image to use.
exim_sender_image_digest: replace_me

# Deployment / Build vars
## Relative path to the directory containing the build JSON files.
build_json_dir: "./de-releases/builds"

## Whether to build a service.
build: true

## Whether to deploy a service.
deploy: true

## Whether to commit changes to the build JSON files that occur as part of the build process.
commit: true

# Namespaces
## The namespace containing the Discovery Environment services.
ns: qa

## The namespaces containing the running VICE apps.
vice_ns: vice-apps

# Agave Variables
## Whether to enable Agave support.
agave_enabled: false
agave_jobs_enabled: false
agave_key: replace_me
agave_secret: replace_me
agave_redirect_uri: http://replace_me
agave_storage_system: replace_me
agave_callback_base_uri: http://replace_me
agave_read_timeout: 30000

# Base URLS for services within the K3s cluster
baseurls_analyses: http://analyses
baseurls_apps: http://apps
baseurls_app_exposer: http://app-exposer
baseurls_async_tasks: http://async-tasks
baseurls_dashboard_aggregator: http://dashboard-aggregator
baseurls_data_info: http://data-info
baseurls_grouper_web_services: http://grouper-ws/grouper-ws
baseurls_iplant_email: http://de-mailer
baseurls_iplant_groups: http://iplant-groups
baseurls_jex_adapter: http://jex-adapter
baseurls_job_status_listener: http://job-status-listener
baseurls_metadata: http://metadata
baseurls_notifications: http://notifications/v1
baseurls_permissions: http://permissions
baseurls_qms: http://qms
baseurls_requests: http://requests
baseurls_search: http://search
baseurls_terrain: http://terrain
baseurls_user_info: http://user-info

# CAS settings
cas_base_uri: http://replace_me
cas_terrain_client_id: replace_me
cas_terrain_client_secret: replace_me

# Dashboard Aggregator settings
## The URL to the website that the dashboard-aggregator uses for RSS feeds.
dashboard_aggregator_website_url: https://cyverse.org

de_amqp_user: replace_me
de_amqp_password: replace_me
de_amqp_host: replace_me
de_amqp_port: replace_me
de_amqp_vhost: replace_me
de_base_uri: http://replace_me
de_coge_base_uri: https://genomevolution.org/coge/api/v1
de_subscriptions_checkout_url: http://replace_me
de_subscriptions_enforce: replace_me
de_default_output_folder: analyses
de_info_faq: https://learning.cyverse.org/faq/
de_info_description: https://cyverse.org/discovery-environment
de_tools_admin_max_disk_limit: 1099511627776
de_tools_admin_max_cpu_limit: 24
de_tools_admin_max_memory_limit: 75161927680

# Docker related settings
docker_tag: latest
docker_trusted_registries:
  - harbor.cyverse.org
  - docker.cyverse.org
  - gims.cyverse.org:5000
  - gims.iplantcollaborative.org:5000

# Elasticsearch settings.
es_base_uri: http://replace_me
es_username: replace_me
es_password: replace_me
es_index: replace_me
es_enabled: true
es_server_urls: https://abby.cyverse.org:31450

# GoCD settings
gocd_enabled: false
gocd_external_domain: replace_me
gocd_skaffold_url: https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64

# QA-specific settings
qa_ceph_password: replace_me
qa_ceph_username: replace_me
qa_ceph_first_name: replace_me
qa_ceph_last_name: replace_me
qa_ceph_local_user: docker
qa_de_password: replace_me
qa_de_admin_password: replace_me
qa_de_username: replace_me
qa_de_first_name: replace_me
qa_de_last_name: replace_me
qa_de_local_user: docker
qa_de_jwt_name: make-jwt
qa_legacy_admin_password: replace_me
qa_legacy_admin_password2: replace_me
qa_legacy_password: replace_me
qa_legacy_jwt_priv_pass: replace_me
qa_legacy_jwt_name: make-jwt
qa_legacy_username: replace_me
qa_legacy_first_name: replace_me
qa_legacy_last_name: replace_me
qa_legacy_local_user: docker

# Infosquito settings
infosquito_daynum: 4
infosquito_prefix_length: 4

## Email settings
email_src: replace_me@replace_me.replace_me
email_dest: replace_me@replace_me.replace_me
email_perm_id_request_dest: example@example.example
email_support_dest: example@example.example

# QMS settings
qms_enabled: true

# Jaeger settings
jaeger_enabled: false
jaeger_endpoint: http://jaeger-collector.jaeger.svc.cluster.local:14250
jaeger_http_endpoint: http://jaeger-collector.jaeger.svc.cluster.local:14268/api/traces
jaeger_namespace: jaeger
jaeger_collector_replicas: 2
jaeger_query_replicas: 2

# Nodeports
kifshare_nodeport: 31340
terrain_nodeport: 31341
job_status_listener_nodeport: 31342
agave_cb_nodeport: 31343
harbor_nodeport: 30002

# K8s Default Variables
k8s_control_plane_endpoint: replace_me
k8s_api_port: "6443"
k8s_pods_cidr: "10.42.0.0/16"
k8s_services_cidr: "10.43.0.0/16"

# Harbor installation variables
harbor_enabled: false
harbor_url: harbor.cyverse.org
harbor_repo: https://helm.goharbor.io
harbor_namespace: harbor
harbor_fqdn: harbor.example.org
harbor_storage_class: "longhorn"
harbor_replicas: 2
harbor_http_nodeport: 30002
harbor_https_nodeport: 30003
harbor_initial_admin_password: "Ch@ng3M3"
harbor_core_db_name: harbor_core
harbor_clair_db_name: harbor_clair
harbor_notary_server_db_name: harbor_notary_server
harbor_notary_signer_db_name: harbor_notary_signer
harbor_database_user: harbor
harbor_database_password: "Ch@ng3M3"
harbor_image_pull_secret: vice-image-pull-secret
harbor_robot_name: harbor-robot
harbor_robot_secret: replace_me

# IRODS CSI Driver Vars
irods_csi_driver_repo: https://cyverse.github.io/irods-csi-driver-helm/
irods_csi_driver_namespace: irods-csi-driver
irods_csi_driver_client: irodsfuse
irods_csi_driver_host: data.cyverse.org
irods_csi_driver_port: 1247
irods_csi_driver_zone: cyverse
irods_csi_driver_user: not_a_user
irods_csi_driver_password: not_a_password
irods_csi_driver_retain_data: "false"
irods_csi_driver_enforce_proxy_access: "true"
irods_csi_driver_mount_path_white_list: "/not/a/path"
irods_csi_driver_cache_size_max: 10737418240
irods_csi_driver_data_root: "/irodsfs-pool"
irods_csi_driver_cache_timeout_settings: '[{"path":"/","timeout":"-1ns","inherit":false},{"path":"/example","timeout":"-1ns","inherit":false},{"path":"/example/home","timeout":"1h","inherit":false},{"path":"/example/home/shared","timeout":"1h","inherit":true}]'

# DE Databases Variables
dbms_connection_user: de
dbms_connection_pass: Ch@ng3M3
dbms_postgresql_version: "13.16"
de_db_version: main
notifications_db_version: main
metadata_db_version: main
mgmt_version: main
qms_version: main
de_db_name: de
notifications_db_name: notifications
metadata_db_name: metadata
permissions_db_name: de
qms_db_name: qms
qms_automigrate: false
qms_reinitialize: false
pg_login_user: postgres
pg_login_host: localhost
pg_login_password: Chang3m3
pg_listen_port: 5432
dbms_allowed_local_addresses:
  - "127.0.0.1/32"
  - "10.0.0.0/8"
  - "172.16.0.0/12"
  - "192.168.0.0/16"
dbms_allowed_remote_addresses: []
encoding: UTF8
lc_collate: en_US.UTF-8
lc_ctype: en_US.UTF-8
template: template0
cleanup: true
migrate: true
create_user: true
create_dbs: true
unleash: true
grouper: true
qms: true
install_exts: true
migrate_release_version: v4.17.0
migrate_tarball_name: migrate.linux-amd64.tar.gz # or migrate.darwin-amd64.tar.gz

# ICAT settings
icat_host: replace_me
icat_port: 5432
icat_user: replace_me
icat_password: replace_me

image_tool: docker

# Intercom settings
intercom_enabled: true
intercom_app_id: replace_me
intercom_company_id: replace_me
intercom_company_name: replace_me

# IRODS Variables
irods_amqp_user: replace_me
irods_amqp_password: replace_me
irods_amqp_host: replace_me
irods_amqp_port: replace_me
irods_amqp_vhost: replace_me
irods_host: data.cyverse.rocks
irods_user: replace_me
irods_zone: replace_me
irods_password: replace_me
irods_port: 1247
irods_external_host: data.cyverse.rocks
irods_webdav_anon_uri: https://data.cyverse.rocks/dav-anon
irods_quota_root_resources: mainIngestRes,mainReplRes
irods_admin_users:
  - de-irods
  - rodsadmin_acl
  - rodsBoot
  - rodsadmin
  - ipcservices
  - QuickShare
  - ibp-proxy
  - ipc_admin
  - proxy-de-tools
  - admin_proxy
  - admin2
  - bioci_god
  - edwin
  - coge
irods_perms_filter:
  - rodsadmin_acl
  - rodsBoot
  - rodsadmin
  - ipcservices
  - QuickShare
  - ibp-proxy
  - ipc_admin
  - proxy-de-tools
  - admin_proxy
  - admin2
  - bioci_god
  - edwin
  - coge

# Jobs settings
jobs_data_transfer_image: harbor.cyverse.org/de/porklock
jobs_data_transfer_tag: latest

# JVM options used by the DE services
jvm_opts_high: "-Xmx1G -Dlog4j2.formatMsgNoLookups=true"
jvm_opts_low: "-Xmx512M -Dlog4j2.formatMsgNoLookups=true"
jvm_opts_ui: "-Xmx1G -Djava.net.preferIPv4Stack=true"

# PGP settings
pgp_key_password: replace_me

# Permanent ID settings
perm_id_enabled: false
perm_id_curators_group: replace_me
perm_id_datacite_base_uri: http://replace_me
perm_id_datacite_user: replace_me
perm_id_datacite_password: replace_me
perm_id_datacite_doi_prefix: replace_me

# Unleash settings
unleash_base_url: http://unleash:4242
unleash_api_path: /api
unleash_api_token: replace_me
unleash_db_name: unleash
unleash_maintenance_flag: DE-Maintenance
unleash_db_user: replace_me
unleash_db_password: replace_me

# User Portal settings
user_portal_base_uri: http://replace_me

# VICE settings
vice_base_uri: https://cyverse.run
vice_file_transfers_image: harbor.cyverse.org/de/vice-file-transfers
vice_file_transfers_tag: latest
vice_image_pull_secret: vice-image-pull-secret
vice_image_cache:
  - harbor.cyverse.org/de/vice-proxy:latest
  - harbor.cyverse.org/de/porklock:latest
  - harbor.cyverse.org/de/vice-file-transfers:latest
  - harbor.cyverse.org/vice/cli/bash:latest
  - harbor.cyverse.org/legacy/datahog:beta
  - harbor.cyverse.org/vice/jupyter/datascience:latest
  - harbor.cyverse.org/vice/jupyter/rstudio:latest
  - harbor.cyverse.org/vice/jupyter/geospatial:latest
  - harbor.cyverse.org/vice/rstudio/rstudio
  - harbor.cyverse.org/vice/rstudio/geospatial:latest
  - harbor.cyverse.org/vice/rstudio/verse:latest
  - harbor.cyverse.org/vice/rstudio/verse:latest
  - harbor.cyverse.org/vice/vscode:latest
  - harbor.cyverse.org/vice/xpra/qgis:20.04
  - harbor.cyverse.org/vice/rstudio/stan:latest
vice_use_csi_driver: true
vice_default_cas_url: https://auth.cyverse.org/cas5
vice_default_cas_validate: validate
vice_use_case_chars_min: 60
vice_default_backend_loading_page_template_string: 'https://qa.cyverse.org/vice/\{\{.URL\}\}'

# Admin settings
admin_groups: core-services,tito-admins,tito-qa-admins,dev,staff
admin_attribute: entitlement

# Analytics settings
analytics_enabled: false
analytics_id: g-id

# NATS Variables
ca_duration: 8766h # 1 year
ca_renew_before: 240h # 10 days
nats_urls: tls://nats
nats_cmd_pod: nats-box
nats_server_cert_duration: 8766h # 1 year
nats_server_cert_renew_before: 240h # 10 days
nats_client_cert_duration: 8766h # 1 year
nats_client_cert_renew_before: 240h # 10 days

# Grouper Variables
grouper_client_auth: false # actual useful value
grouper_loader_url: ldap://not.a.ldap.server:389/dc=example,dc=org
grouper_loader_user: uid=fake,ou=People,dc=example,dc=org
grouper_loader_password: l0lf@k3
grouper_environment: qa # actual useful value
grouper_ws_url: http://grouper-ws/grouper-ws # actual useful value
grouper_db_host: fake.db.host
grouper_db_port: 5432 # actual useful value
grouper_db_name: grouper # actual useful value
grouper_morph_string: n0tr34l
grouper_connection_user: GrouperSystem
grouper_connection_pass: Ch@ng3m3
grouper_gsh_image: harbor.cyverse.org/de/grouper # actual useful value
grouper_gsh_image_version: v3.0.0 # actual useful value
grouper_ws_replicas: 2
grouper_loader_replicas: 1
grouper_tag: v3.0.0
grouper_folder_name_prefix: "iplant:de:qa"

# PostgreSQL Installation and Configuration Variables
pg_conf_path: "/etc/postgresql/{{dbms_postgresql_version}}/main"
pg_db: postgres

# Keycloak Configuration
keycloak_server_uri: https://keycloak.example.org/auth
keycloak_db_username: keycloak
keycloak_db_password: Ch@ng3M3
keycloak_db_vendor: postgres
keycloak_db_port: "5432"
keycloak_db_name: keycloak
keycloak_login_username: keycloak
keycloak_login_password: Ch@ng3M3
keycloak_namespace: keycloak
keycloak_realm_name: CyVerseTest
keycloak_client_id: replace_me
keycloak_client_secret: replace_me
keycloak_vice_client_id: replace_me
keycloak_vice_client_secret: replace_me
keycloak_realm_display_name: CyVerse Test Realm connected to pollit.iplantcollaborative.org
keycloak_realm_display_name_html: CyVerse Test (pollit)
keycloak_vice_domain: cyverse.run
keycloak_redirect_uris:
  - "https://qa.cyverse.org/*"
  - "https://sonora-qa.cyverse.org/*"
keycloak_web_origins:
  - "https://qa.cyverse.org"
  - "https://sonora-qa.cyverse.org/*"
keycloak_portal_id: portal
keycloak_portal_name: User Portal - development
keycloak_portal_root_url: https://portaldev.cyverse.org
keycloak_portal_redirect_uris:
  - "https://portaldev.cyverse.org/*"
keycloak_portal_web_origins:
  - "https://portaldev.cyverse.org"
keycloak_use_theme: false
keycloak_theme: cyverse
keycloak_groups_dn:
  - "ou=Groups,dc=iplantcollaborative,dc=org"
keycloak_bind_dn:
  - "uid=ldap_reader,ou=People,dc=iplantcollaborative,dc=org"
keycloak_connection_url: "ldap://ldap.ldap:389"
keycloak_http_nodeport: 31360
keycloak_https_nodeport: 31361
keycloak_admin_username: kcadmin
keycloak_admin_password: notreal
keycloak_hostname_url: https://keycloak.example.org/
keycloak_hostname_strict: "false"
keycloak_hostname_strict_https: "false"
keycloak_log_level: INFO
keycloak_proxy: passthrough
keycloak_jdbc_params: connectTimeout=21600
keycloak_java_opts: "-server -Xms1024m -Xmx2048m -XX:MetaspaceSize=96m -XX:MaxMetaspaceSize=256m -Djboss.modules.system.pkgs=org.jboss.byteman -Djava.awt.headless=true -Dkeycloak.profile.feature.token_exchange=enabled -Djava.security.egd=file:/dev/urandom"
keycloak_cert_duration: "8766h" # 1 year
keycloak_cert_renew_before: "240h" # 10 days
keycloak_cpu_request: "200m"
keycloak_memory_request: "1Gi"
keycloak_ephemeral_storage_request: "2Gi"
keycloak_cpu_limit: "200m"
keycloak_memory_limit: "2Gi"
keycloak_ephemeral_storage_limit: "2Gi"

secrets_loader_base_dir: "secrets" # The directory in the repo containing the inventory
secrets_loader_ui_secret: "ui-nginx-tls"
secrets_loader_load_ui_secret: true
secrets_loader_gpg_secret: "gpg-keys"
secrets_loader_load_gpg_secret: true
secrets_loader_pgpass_secret: "pgpass-files"
secrets_loader_load_pgpass_secret: true
secrets_loader_signing_keys_secret: "signing-keys"
secrets_loader_load_signing_keys_secret: true
secrets_loader_accepted_keys_secret: "accepted-keys"
secrets_loader_load_accepted_keys_secret: true
secrets_loader_ssl_secret: "ssl-files"
secrets_loader_load_ssl_secret: true
secrets_loader_ui_tls_key_filepath: "" # The TLS key for the UI ingress.
secrets_loader_ui_tls_cert_filepath: "" # The TLS cert for the UI ingress.
secrets_loader_gpg_filepaths: []
secrets_loader_pgpass_filepaths: []
secrets_loader_signing_keys_filepaths: []
secrets_loader_accepted_keys_filepaths: []
secrets_loader_ssl_filepaths: []

tapis_key: replace_me
tapis_secret: replace_me
tapis_redirect_uri: replace_me
tapis_storage_system: replace_me
tapis_callback_base_uri: replace_me
tapis_read_timeout: 3000
tapis_enabled: false
tapis_jobs_enabled: false

vice_cache_images:
  - harbor.cyverse.org/de/vice-proxy:qa
  - harbor.cyverse.org/de/vice-file-transfers:qa
  - sblsdsc/mmtf-pyspark-vice-0.3.6:16
  - sblsdsc/mmtf-genomics-vice-0.3.6:8
  - harbor.cyverse.org/legacy/jupyter-lab:1.0
  - harbor.cyverse.org/legacy/shiny:1.0.0
  - harbor.cyverse.org/legacy/rstudio-nginx:3.5.0
  - cyverse/jupyterlab-nanodj:latest
  - harbor.cyverse.org/legacy/jupyterlab-qiime2:2019.10
  - harbor.cyverse.org/legacy/genomicseducationalliance-jupyterlab-rnaseq-qc:dev_2.1
  - harbor.cyverse.org/legacy/quaternionclassifier:latest
  - harbor.cyverse.org/legacy/powerstateclassifier:latest
  - harbor.cyverse.org/legacy/behaviorclassifier:latest
  - harbor.cyverse.org/legacy/turboprop:latest
  - genomicseducationalliance/rna-seq-leptin:dev_0.2
  - cyversevice/rstudio-geospatial:terraref-3.6.0
  - harbor.cyverse.org/legacy/guacamole:latest
  - reetututeja/rstudio-snapatac:latest
  - cyverse/sequenceserver:2.0
