Types: deb deb-src
URIs: http://research.cs.wisc.edu/htcondor/repo/ubuntu/{{ condor_version }}
Suites: {{ ansible_distribution_release }}
Architectures: amd64
Components: main
Signed-By: /etc/apt/keyrings/HTCondor-10.x-Key

