SEC_PASSWORD_FILE = /var/lib/condor/pool_password
SEC_DAEMON_AUTHENTICATION = PREFERRED
SEC_DAEMON_INTEGRITY = PREFERRED
SEC_DAEMON_AUTHENTICATION_METHODS = PASSWORD
SEC_DAEMON_ENCRYPTION = PREFERRED
SEC_NEGOTIATOR_AUTHENTICATION = PREFERRED
SEC_NEGOTIATOR_INTEGRITY = PREFERRED
SEC_NEGOTIATOR_AUTHENTICATION_METHODS = PASSWORD
SEC_ADVERTISE_STARTD_AUTHENTICATION = REQUIRED
SEC_CLIENT_AUTHENTICATION_METHODS = FS, PASSWORD
